@font-face {
    font-family: 'snowfox';
    src: url('./snowfox-light-webfont.woff2') format('woff2'),
         url('./snowfox-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	background-image: url("images/QI_background.jpg");
	color: rgb(255,255,255);
	font-family: 'snowfox';
}

#nav-tab{
	background-color: rgba(0,0,0,0.80);
}

#nav-tabContent{
	display: flex;
	height: 95vh;
	justify-content: center;
	align-items: center;
}

#nav-seAT-tab{
	font-weight: bold;
}

.nav-link{
	color: rgb(255,255,255);
}

.nav-link:hover{
	color: rgb(255,255,255);
	transition: 1s ease-in-out;
	letter-spacing: 0.1em;
}

iframe{
	width: 100vw;
	height: 95vh;
}

h1{
	font-style: italic;
	font-size: 6.5em;
	color: rgba(71,71,71,0.25);
	letter-spacing: 0.3em;
}

h2{
	color: rgb(255,255,255);
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 2em;
	margin-left: 1.2em;
}
